body {
  background-image: url(/public/BG.png);
  background-size: contain; 
  background-position: center;     
  background-repeat: repeat-y;
}
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.contents-box {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
}
